extends layout 

block content
    h2 Register
    form(action="/auth/register" method="post")
        div 
            label Create a username
            input(type="text" name="username")
        div 
            label Create a password
            input(type="password" name="password")  
        div 
            input(type="submit" value="Register")     